@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/***************FOOTER***************/


footer h3 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.699);
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
  color: white;
}

body {
  font-family: "Alegreya Sans SC", sans-serif;
  overflow: scroll;
}

/***************INDEX***************/

.contenedor0 {
  background: linear-gradient(to right, #304352, #d7d2cc);
}

.nav-item {
  font-size: 1.6rem;
}

.nav-item:hover {
  color: #29313a8f;
  background-color: #192c4228;
  border-radius: 5px;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-toggler {
  width: 50px;
  height: 50px;
}

.nav-item .active {
  background-color: #1f5a95dc;
  border-radius: 5px; 
}

.caja1 {
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 30px;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 85%;
  box-shadow: 5px 1px 5px;
}


.destacados {
  text-align: center;
}

.caja1 p {
  font-size: 1.4rem;
}

.caja2 {
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
  grid-area: section;
}

.botonVermas {
  color: white;
  border: 1px solid #1f53c5;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #1f53c5;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: height 1s, width 2s;
}

.botonVermas:hover {
  background-color: #17419a;
  transform: translate(1px, 1px);
}

.active {
  background-color: #000000a9;
  margin: auto;
}

.d-block {
  height: 300px;
  width: 200px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: cover;
}





/*********MEDIA QUERY***********/

@media (max-width: 768px) {

  .col-md-5 {
    display: none;
  }

  .caja6 {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .caja6 .botons {
    width: 200px;
  }

  .caja7 h3 {
    text-align: center;
  }

  footer {
    display: none;
  }
}



.cajaCarousel {
  width: 100%;
  padding: 8%;
  padding-bottom: 20%;
  box-shadow: 1px 1px 1px;
  background-color: rgba(0, 0, 0, 0.578);
}