//* MAP - GET *//

$estilo: (
  boxShadow: 5px 1px 5px,
  tamFuente: 1.5rem,
  backSize: cover,
  backColor: rgb(255, 255, 255),
  backPos: center,
);

.caja1 {
  background-color: map-get($estilo, backColor);
  box-shadow: map-get($estilo, boxShadow);

  p {
    font-size: map-get($estilo, tamFuente);
  }
}

/* BIBLIOTECA */

.caja3 {
  background-color: map-get($estilo, backColor);
  font-size: map-get($estilo, tamFuente);
  box-shadow: map-get($estilo, boxshadow);
}

.album {
  .historia {
    background-size: map-get($estilo, backSize);
    background-position: map-get($estilo, backPos);
  }

  .agorismo {
    background-size: map-get($estilo, backSize);
    background-position: map-get($estilo, backPos);
  }

  .politica {
    background-size: map-get($estilo, backSize);
    background-position: map-get($estilo, backPos);
  }

  .ciencias {
    background-size: map-get($estilo, backSize);
    background-position: map-get($estilo, backPos);
  }

  .nutricion {
    background-size: map-get($estilo, backSize);
    background-position: map-get($estilo, backPos);
  }

  .psicologia {
    background-size: contain;
  }

  .programacion {
    background-size: map-get($estilo, backSize);
    background-position: map-get($estilo, backPos);
  }

  .oficios {
    background-size: map-get($estilo, backSize);
    background-position: map-get($estilo, backPos);
  }

  .filosofia {
    background-size: map-get($estilo, backSize);
    background-position: map-get($estilo, backPos);
  }
}

.caja6 {
  box-shadow: map-get($estilo, boxShadow);
  font-size: map-get($estilo, tamFuente);

  .form-control {
    font-size: map-get($estilo, tamFuente);
  }
}

.caja7 {
  background-color: map-get($estilo, backColor);
  box-shadow: map-get($estilo, boxShadow);
  font-size: map-get($estilo, tamFuente);
}

footer {
  h3 {
    font-size: map-get($estilo, tamFuente);
  }
}
