/* MAP - GET */

$estilo: (boxShadow: 5px 1px 5px, tamFuente: 1.5rem, backSize: cover);


/* BIBLIOTECA */

.album {
    .historia {
        background-size: map-get($estilo, backSize );
      }

    .agorismo {
        background-size: map-get($estilo, backSize ); 
      }  
      
      .politica {
        background-size: map-get($estilo, backSize ); 
    }

      .ciencias {
        background-size: map-get($estilo, backSize ); 
      }
      

      .nutricion {
        background-size: map-get($estilo, backSize ); 
      }

      
      .psicologia {
        background-size:contain;
      }

      
      .programacion {
        background-size: map-get($estilo, backSize ); 
      }

      
      .oficios {
        background-size: map-get($estilo, backSize ); 
      }

      
      .filosofia {
        background-size: map-get($estilo, backSize ); 
      }

  }
  


.caja6 {
    box-shadow: map-get($estilo, boxShadow);
    font-size: map-get($estilo, tamFuente);


    .form-control {
    font-size: map-get($estilo, tamFuente);
    }
}

.caja7 {
    box-shadow: map-get($estilo, boxShadow);
    font-size: map-get($estilo, tamFuente);
}