@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: scroll;
}

/* INDEX */

.contenedor0 {
  background: linear-gradient(to right, #304352, #d7d2cc);
  font-family: "Alegreya Sans SC", sans-serif;

  main {
    padding: 30px;
    padding-bottom: 10px;

    .welcome {
      padding: 2%;
      background-image: url(../img/logo.jpg);
      background-size: 35%;
      background-repeat: no-repeat;
      background-position: right center;
      background-color: #020f490c;

      .texth1 {
        width: 55%;
        .cita {
          text-align: center;
          font-style: oblique;
          padding: 5px;
        }
      }
    }

    .parrafo-uno {
      margin-top: 3%;

      .subtittle1 {
        font-size: 3rem;
      }
      p {
        margin-top: 2%;
        margin-bottom: 5%;
        margin-right: 28%;
      }
    }

    .parrafo-dos {
      margin-top: 3%;

      .subtittle2 {
        text-align: end;
        margin-right: 2%;
        font-size: 3rem;
      }

      p {
        text-align: start;
        font-style: italic;
        margin-top: 2%;
        margin-bottom: 7%;
        margin-right: 1.5%;
        margin-left: 28%;
      }
    }

    .estoico {
      margin-top: 10%;
      display: grid;
      grid-template-areas:
        "sub sub video video"
        "sub sub video video"
        "sub sub video video";
      .parrafo-tres {
        grid-area: sub;
        margin: auto;
        .subtittle3 {
          font-size: 2.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      iframe {
        grid-area: video;
        margin: auto;
      }
    }

    .card {
      height: 375px;
      font-size: 1.3rem;

      .verseccion {
        position: absolute;
        bottom: 5%;
        left: 37%;

        .btn {
          background-color: #283945;
          border: #283945;
          &:hover {
            background-color: #283945cb;
          }
        }
      }

      p {
        padding: 25px;
      }
    }

    .destacados {
      text-transform: uppercase;
      font-weight: bolder;
      text-align: center;
    }

    .carousel {
      width: 95%;
      margin: auto;
      margin-top: 1%;
      background: linear-gradient(to right, #283945, #afaaa5);

      .carousel-one {
        background-color: rgba(220, 208, 185, 0.701);
      }

      .carousel-two {
        background-color: rgba(33, 24, 8, 0.701);
      }

      .carousel-three {
        background-color: rgb(204, 188, 154);
      }

      .d-block {
        object-fit: contain;
        height: 300px;
        margin-top: 5%;
        margin-bottom: 5%;
      }
    }

    .vermas {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 5%;
      .btn {
        font-size: 1.4rem;
        text-transform: uppercase;
        border: #14248db9 solid 1px;
        background-color: #151f64e7;
        box-shadow: #000 1px 1px 1px;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.navbar-brand {
  font-size: 2rem;

  img {
    margin-right: 8px;
  }
}

.nav-item {
  font-size: 1.6rem;

  &:hover {
    color: #29313a8f;
    background-color: #192c4228;
    border-radius: 5px;
  }

  .active {
    background-color: #1f5a95dc;
    border-radius: 5px;
  }
}

/* BIBLIOTECA */

.caja3 {
  .cabecera {
    text-align: center;
    color: white;
    background-color: #24303c;
    padding: 20px;

    .casilla {
      width: 50%;
      border-radius: 6px;
      padding: 5px;
      margin-bottom: 15px;
      border-style: unset;
    }

    .botonBuscar {
      background-color: rgb(11, 106, 132);
      color: white;
      text-align: center;
      padding: 5px;
      border-radius: 6px;
      border: 1px rgb(0, 71, 171) solid;
      margin-left: 5px;
    }

    p {
      font-size: 1.2rem;
      text-transform: lowercase;
    }

    a {
      font-size: 1.2rem;
      font-style: italic;
      text-decoration: underline;
      color: white;
    }
  }
}

/* PETICIONES */
.container-pet {
  margin-bottom: 8%;
  margin-top: 3%;

  .container-form {
    display: flex;
    flex-direction: row;

    .form-peticiones {
      width: 50%;
      background: #24303c;
      padding: 30px;
      border-radius: 4px;
      color: white;
      box-shadow: 7px 13px 37px #000;
      margin-right: 20px;

      h1 {
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 20px;
      }

      .controls {
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-size: 1.5rem;
        color: white;
      }

      p {
        height: 40px;
        font-size: 1.4rem;
        line-height: 40px;
      }

      .botons1 {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        font-size: 16px;
        margin-top: 85px;
      }

      .form-label {
        font-size: 1.3rem;
      }
    }

    .form-comentarios {
      width: 50%;
      height: 20%;
      background: #24303c;
      padding: 30px;
      border-radius: 4px;
      color: white;
      box-shadow: 7px 13px 37px #000;
      margin-left: 20px;

      .controls {
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-size: 1.5rem;
        color: white;
      }

      p {
        height: 40px;
        font-size: 1.4rem;
        line-height: 40px;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }

      .botons2 {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin-top: 55px;
        font-size: 16px;
      }

      .form-label {
        font-size: 1.3rem;
      }
    }
  }
}

/* ACERCADENOSOTROS */

.caja7 {
  padding: 30px;

  .redes {
    display: flex;
    justify-content: center;

    a {
      margin: 2%;

      i {
        &:hover {
          transition: 0.2s;
          transform: translate(0.5px, -0.5px);
        }
      }
    }
  }
}

/* AUDIOVISUAL */

.cajaCarousel {
  width: 100%;
  box-shadow: 1px 1px 1px;
  background-color: rgba(0, 0, 0, 0.804);

  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
  }

  p {
    color: white;
    font-size: 1.4rem;
    padding-right: 25%;
  }

  .carousel {
    width: 85%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 8%;
    box-shadow: 5px 5px 5px rgb(63, 62, 62);

    .carousel-indicators {
      height: 15px;
    }
  }

  .spotify {
    margin-left: 20%;
    margin-bottom: 15%;
    box-shadow: 5px 5px 5px rgb(63, 62, 62);
  }
}

/* FOOTER */
.footer {
  background-color: rgba(0, 0, 0, 0.596);
  padding: 1%;
  display: grid;
  grid-template-areas:
    "enlaces copy copy copy redes"
    "enlaces copy copy copy redes"
    "enlaces copy copy copy redes"
    "enlaces copy copy copy redes"
    "enlaces copy copy copy redes";

  .copy {
    grid-area: copy;
    color: #b7bcdf;
    font-size: 0.9rem;
    text-align: center;
    margin: auto;
    padding-top: 2.5%;
    text-transform: uppercase;
  }

  .enlaces {
    grid-area: enlaces;
    margin-top: 5%;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: #b7bcdf;
        padding: 0px;
      }
    }
  }

  .redes-footer {
    grid-area: redes;
    margin: auto;

    a {
      padding: 15px;
      color: #1a2049;
    }
  }
}

/*********MEDIA QUERY***********/

@media (max-width: 768px) {
  .contenedor0 {
    main {
      .welcome {
        background-image: none;
        .texth1 {
          width: 100%;
        }
      }

      .parrafo-uno {
        text-align: start;
        margin: 0%;
        margin-top: 10%;
        margin-bottom: 11%;

        p {
          margin-right: 0%;
        }
      }

      .parrafo-dos {
        margin: 0%;
        margin-top: 10%;
        margin-bottom: 10%;
      }

      .card {
        margin-bottom: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .verseccion {
          position: absolute;
          bottom: 5%;
          left: 40%;
        }

        p {
          text-align: center;
          padding: 10px;
        }
      }

      .estoico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;

        .subtittle3 {
          margin-bottom: 2%;
        }
      }
    }
  }

  .caja3 {
    .album {
      .card {
        margin: 0%;
        margin-bottom: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-body {
          height: 150px;
        }

        .verseccion {
          position: absolute;
          bottom: 5%;
          left: 40%;
        }

        p {
          text-align: center;
          padding: 10px;
        }
      }
    }
  }

  .footer {
    display: none;
  }

  .container-pet {
    margin: 0%;
    width: 100%;
    .container-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 8%;

      .form-peticiones {
        margin: 0%;
        margin-bottom: 8%;
        width: 80%;

        p {
          height: max-content;
        }
      }

      .form-comentarios {
        width: 65%;
        margin: 0%;

        p {
          height: max-content;
        }
      }
    }
  }

  .cajaCarousel {
    text-align: center;

    .subtitulo {
      padding-right: 0;
      margin-bottom: 10%;
    }

    iframe {
      height: 350px;
    }

    .spotify {
      width: 390px;
      height: 420px;
      margin: auto;
      margin-top: 10%;
      margin-bottom: 5%;
    }
  }
}

@import "maps";
@import "extend";
@import "mixin";
