@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: scroll;
}

/* INDEX */

.contenedor0 {
  background: linear-gradient(to right, #304352, #d7d2cc);
  font-family: "Alegreya Sans SC", sans-serif;

  main {
    padding: 30px;
    padding-bottom: 10px;

    .welcome {
      padding: 2%;
      background-image: url(../img/logo.jpg);
      background-size: 35%;
      background-repeat: no-repeat;
      background-position: right center;
      background-color: #020f490c;

      .texth1 {
        width: 55%;
        .cita {
          text-align: center;
          font-style: oblique;
          padding: 5px;
        }
      }
    }

    .parrafo-uno {
      margin-top: 3%;

      .subtittle1 {
        font-size: 3rem;
      }
      p {
        margin-top: 2%;
        margin-bottom: 5%;
        margin-right: 28%;
      }
    }

    .parrafo-dos {
        margin-top: 3%;

      .subtittle2 {
        text-align: end;
        margin-right: 2%;
        font-size: 3rem;
      }

       p {
        text-align: start;
        font-style: italic;
        margin-top: 2%;
        margin-bottom: 7%;
        margin-right: 1.5%;
        margin-left: 28%;
       }
      }
    }

    .destacados {
      text-transform: uppercase;
      font-weight: bolder;
      text-align: center;
    }

    .carousel {
      width: 90%;
      margin: auto;
      margin-top: 1%;
      background: linear-gradient(to right, #283945, #afaaa5);

      .d-block {
        object-fit: contain;
        height: 300px;
        margin-top: 5%;
        margin-bottom: 5%;
      }
    }

    .vermas {
      display: flex;
      justify-content: end;
      margin-right: 5%;
      .btn {
        font-size: 1.4rem;
        font-weight: bolder;
        text-transform: uppercase;
      }
    }
  }

  .navbar-brand {
    font-size: 2rem;

    img {
      margin-right: 8px;
    }
  }

  .nav-item {
    font-size: 1.6rem;

    &:hover {
      color: #29313a8f;
      background-color: #192c4228;
      border-radius: 5px;
    }

    .active {
      background-color: #1f5a95dc;
      border-radius: 5px;
    }
  }


/* BIBLIOTECA */

.caja3 {
  .cabecera {
    text-align: center;
    color: white;
    background-color: #24303c;
    padding: 20px;

    .casilla {
      width: 50%;
      border-radius: 6px;
      padding: 5px;
      margin-bottom: 15px;
      border-style: unset;
    }

    .botonBuscar {
      background-color: rgb(11, 106, 132);
      color: white;
      text-align: center;
      padding: 5px;
      border-radius: 6px;
      border: 1px rgb(0, 71, 171) solid;
      margin-left: 5px;
    }

    p {
      font-size: 1.2rem;
      text-transform: lowercase;
    }

    a {
      font-size: 1.2rem;
      font-style: italic;
      text-decoration: underline;
      color: white;
    }
  }

  .card-body {
    height: 165px;
    font-size: 1.3rem;
      .verseccion {
        position: absolute;
        bottom: 5%;
        display: flex;
          .btn {
            background-color:#283945;
            border: #283945;
            display: flex;
              &:hover {
                background-color: #283945cb;
              }
          }        
      }
  }
}

/* PETICIONES */
.container-pet {
  margin-bottom: 8%;
  margin-top: 3%;

  .container-form {
    display: flex;
    flex-direction: row;

    .form-peticiones {
      width: 50%;
      background: #24303c;
      padding: 30px;
      border-radius: 4px;
      color: white;
      box-shadow: 7px 13px 37px #000;
      margin-right: 20px;

      h1 {
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 20px;
      }

      .controls {
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-size: 1.5rem;
        color: white;
      }

      p {
        height: 40px;
        font-size: 1.4rem;
        line-height: 40px;
      }

      .botons1 {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        font-size: 16px;
        margin-top: 85px;
      }

      .form-label {
        font-size: 1.3rem;
      }
    }

    .form-comentarios {
      width: 50%;
      height: 20%;
      background: #24303c;
      padding: 30px;
      border-radius: 4px;
      color: white;
      box-shadow: 7px 13px 37px #000;
      margin-left: 20px;

      .controls {
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-size: 1.5rem;
        color: white;
      }

      p {
        height: 40px;
        font-size: 1.4rem;
        line-height: 40px;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }

      .botons2 {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin-top: 55px;
        font-size: 16px;
      }

      .form-label {
        font-size: 1.3rem;
      }
    }
  }
}

/* ACERCADENOSOTROS */

.caja7 {
  padding: 30px;

  .redes {
    display: flex;
    justify-content: center;

    a {
      margin: 2%;

      i {
        &:hover {
          transition: 0.2s;
          transform: translate(0.5px, -0.5px);
        }
      }
    }
  }
}

/* AUDIOVISUAL */

.cajaCarousel {
  width: 100%;
  box-shadow: 1px 1px 1px;
  background-color: rgba(0, 0, 0, 0.578);

  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
  }

  p {
    color: white;
    font-size: 1.4rem;
    padding-right: 25%;
  }

  .carousel {
    width: 85%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 8%;
    box-shadow: 5px 5px 5px rgb(63, 62, 62);

    .carousel-indicators {
      height: 15px;
    }
  }

  .spotify {
    margin-left: 20%;
    margin-bottom: 15%;
    box-shadow: 5px 5px 5px rgb(63, 62, 62);
  }
}

/* FOOTER */

footer {
  background-color: rgba(0, 0, 0, 0.699);
  h3 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
  }
}

/*********MEDIA QUERY***********/

@media (max-width: 768px) {
  .col-md-5 {
    display: none;
  }

  .caja6 {
    margin-top: 100px;
    margin-bottom: 20px;

    .botons {
      width: 200px;
    }
  }

  .caja7 h3 {
    text-align: center;
  }

  footer {
    display: none;
  }
}

@import "maps";
@import "extend";
@import "mixin";
