@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: scroll;

}


/* INDEX */

.contenedor0 {
  background: linear-gradient(to right, #304352, #d7d2cc);
  font-family: "Alegreya Sans SC", sans-serif;

  .caja1 {
    padding: 30px;
    padding-bottom: 10px;

    .destacados {
      text-align: center;
    }

    .botonVermas {
      color: white;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid #1f53c5;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 10px;
      background-color: #1f53c5;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;      
    

      &:hover {
        background-color: #17419a;
        transform: translate(1px, 1px);
      }
    }

    .carousel-item {
      background: linear-gradient(to right, #1d2730, #63605e);
      margin: auto;
    }

    .d-block {
      height: 300px;
      width: 200px;
      margin: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      object-fit: cover;
    }
  }

  .navbar-brand {
    font-size: 2rem;

    img {
      margin-right: 8px;
    }
  }

  .nav-item {
    font-size: 1.6rem;

      &:hover {
        color: #29313a8f;
        background-color: #192c4228;
        border-radius: 5px;
      }

      .active {
        background-color: #1f5a95dc;
        border-radius: 5px; 
      }   
  }
}



/* BIBLIOTECA */

.caja3 {

  .cabecera {
    text-align: center;
    color: white;
    background-color: #24303c;
    padding: 20px;

    .casilla {
        width: 50%;
        border-radius: 6px;
        padding: 5px;
        margin-bottom: 15px;
        border-style: unset;
      }

      .botonBuscar {
        background-color: rgb(11, 106, 132);
        color: white;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        border: 1px rgb(0, 71, 171) solid;
        margin-left: 5px;
      }

      p {
        font-size: 1.2rem;
        text-transform: lowercase;
      }

      a {
        font-size: 1.2rem;
        font-style: italic;
        text-decoration: underline;
        color: white;
      }
  }
  
  .album {
    .historia {
        background-image: url(../img/historia.jpg);
      }

    .agorismo {
        background-image: url(../img/agorismo.jpg);
      }  
      
      .politica {
        background-image: url(../img/politica.jpg);
      }

      .ciencias {
        background-image: url(../img/ciencias.jpg);
      }
      

      .nutricion {
        background-image: url(../img/nutricion.jpg);
      }

      
      .psicologia {
        background-image: url(../img/psicologia.png);
      }

      
      .programacion {
        background-image: url(../img/programacion.jpg);
      }

      
      .oficios {
        background-image: url(../img/oficios.jpg);
      }

      
      .filosofia {
        background-image: url(../img/filosfia.jpg);
      }
      
      .articletittle {
        font-size: 3.4rem;
        text-shadow: 1px 1px rgb(0, 0, 0);
      }
  }
  
}


/* PETICIONES */

.caja6 {
  background: #0423428f;
  padding: 50px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 210px;
  width: 50%;
  display: flex;
  flex-flow: column;

  .form-control {
    width: 100%;
    padding: 12px;
  }

  .form-label {
    text-transform: lowercase;
    color: white;
  }

  .form-check-label {
    font-size: 1.4rem;
    text-transform: lowercase;
    color: white;
  }

  .btn-primary {
    background: #6c8f31;
    margin-bottom: 16px;
    border: 1px solid #026404;
    color: white;
    font-size: 2rem;

    &:hover {
      transform: translate(1px, 1px);
    }
  }
}

/* ACERCADENOSOTROS */

.caja7 {
  padding: 30px;

  .redes {
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;

    a {
      text-decoration: none;
      padding: 6px;
      margin-inline: 7px;
      color: white;
      text-align: center;
      border: #1f53c5 unset 1px;
      border-radius: 5px;
      background-color: #1f53c5;
    }

    li {
      list-style-type: none;
    }
  }
}


/* AUDIOVISUAL */

.cajaCarousel {
  width: 100%;
  padding: 8%;
  padding-bottom: 20%;
  box-shadow: 1px 1px 1px;
  background-color: rgba(0, 0, 0, 0.578);
}

/* FOOTER */

footer {
  background-color: rgba(0, 0, 0, 0.699);
  h3 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: white;
  }
}


/*********MEDIA QUERY***********/

@media (max-width: 768px) {

  .col-md-5 {
    display: none;
  }

  .caja6 {
    margin-top: 100px;
    margin-bottom: 20px;

    .botons {
      width: 200px;
    }
  }


  .caja7 h3 {
    text-align: center;
  }

  footer {
    display: none;
  }
}




@import "maps";
@import "extend";
@import "mixin";
